/* Large Screen Styles (Screens >= 768px) */
@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem;
    }

    .menu {
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    .menu ul {
        display: flex;
        gap: 2rem;
        flex-direction: row; /* Default horizontal layout for larger screens */
        padding: 0;
        margin: 0;
    }

    .menu li {
        margin: 0 1rem;
    }

    .menu-toggle {
        display: none;
    }

    /* .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 2rem;
    } */
    section h2 {
        text-align: center;
    }

    /* Testing this section of code */
    .grid-container {
        display: flex;
        gap: 2rem;
        padding: 2rem;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .grid-container section {
        flex: 1;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 1rem;
        background-color: #f9f9f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .grid-container img {
        max-width: 100%;
        height: 12rem;
        border-radius: 4px;
    }
    
    .grid-container h2 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    
    .grid-container ul {
        padding-left: 1.5rem;
    }
    
    .grid-container figure {
        text-align: center;
        margin: 0;
    }
    /***/

    .course {
        width: auto;
    }
}